# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform Variables
*.tfvars
*.tfvars.json

# Plan Files
*.tfplan

# Sensitive Files
*.pem
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
